h4 {
  cursor: pointer;
}
.articles {
  display: none;
  height: 0;
}
.services {
  display: none;
  height: 0;
}
.categories {
  display: none;
  height: 0;
}
.active {
  display: inherit;
  height: auto;
}
