<table class="table">
  <thead>
    <tr>
      <th scope="col">Type de service</th>
      <th scope="col">Nom</th>
      <th scope="col">Repassage</th>
      <th scope="col">Prix unitaire</th>
      <th scope="col">Quantité</th>
      <th scope="col">Prix total</th>
      <th>Suprimmer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let b of test; let index">
      <td>{{ b.service.service.serviceType.name }}</td>
      <td>{{ b.service.service.name }}</td>

      <td>
        <input
          type="checkbox"
          name="checkbox{{ index }}"
          id=""
          [checked]="b.isIroning"
          (change)="setIsIroning(b, b.isIroning)"
        />
      </td>
      <td>{{ b.service.service.price }}</td>
      <td>
        <input
          type="text"
          name=""
          id=""
          (ngModelChange)="upDateQuantity($event, b.service.service)"
          [ngModel]="getQuantityForArticleService(b.service.service)"
        />
      </td>
      <td>
        {{ getPriceTotalForArticleService(b.service.service, b.isIroning) }}
        €
      </td>

      <td>
        <input
          type="checkbox"
          name="checkbox{{ index }}"
          id=""
          [(ngModel)]="b.isDelete"
          [checked]="b.isDelete"
        />
      </td>
    </tr>
  </tbody>
  <tr>
    <td colspan="1"><button>Suprimmer</button></td>
  </tr>
</table>
<div>
  <app-note-dialogue (note)="handleNoteEvent($event)"></app-note-dialogue>
</div>

<button (click)="submitOrder()">Valider commande</button>
