ul {
  margin-bottom: 0;
  padding: 0;
}

.nav-bar {
  width: 100%;
  z-index: 99999999999999;
  position: relative;
  background: var(--white);
}

.logo {
  font-size: 1.3rem;
  margin: 0 20px;
}
.btn-compte {
  display: inline-block;
}
.container-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-menu-nav-bar {
  background: var(--white);
  z-index: 999;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  margin: 0 20px;
}
.menu-nav-bar {
  background: var(--white);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  height: 100%;
}

.container-item-navbar,
.btn-compte {
  text-transform: uppercase;
  justify-content: center;
  display: flex;
  letter-spacing: 5px;
  font-weight: 300;
  color: var(--secondary);
  width: 100%;
  height: 100%;
  align-items: center;
}
.container-item-navbar{
  background: var(--white);
  z-index: 999;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.container-item-navbar{
  width: 50%;
}
.item-navbar {
  background: var(--white);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.item-navbar:hover{
  background: var();
}
.btns {
  position: relative;
  margin-top: 45px;
}
.account {
  width: 15%;
}
.account .menu-compte {
  position: absolute;
  right: 0;
  width: 100%;
}
.menu-compte .btn-primary {
  width: 100%;
  padding: 0;
}

.blockA {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  z-index: 999;
  height: 100%;
  width: 100%;
}
.menu-after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #019fb6;
  width: 0;
  z-index: 999;
}
.menu-hamburger-navbar {
  z-index: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: max-content;
  background: var(--white);
  font-size: 1rem;
  padding-top: 5px;
  bottom: 0;
  left: 0;
}

.item-service-type{
  text-transform: none;
  font-size: 0.85rem;
}
/* 


.blockA + .menu-hamburger-navbar:before {
  background-position: 0 calc(100% - 0px);
}
.blockA:hover {
  background-size: 100% 5px;
}

@keyframes borderAnimate {
  to {
    width: 0;
  }
  from {
    width: 100%;
  }
} */

/* .active-account {
  top: 100%;
  text-align: end;
}


.navbar-nav {
  z-index: 1000;
} */
