<nav class="nav-bar">
  <div class="container-nav-bar">
    <div class="logo">
      <a routerLink="/">Clean&Chic</a>
    </div>

    <div class="container-menu-nav-bar">
      <ul class="menu-nav-bar">
        <!-- Ajout du ng-container pour l'évenement du hover -->
        <ng-container *ngFor="let section of sections">
          <!-- Ici j'utilise des évenements du DOM -->
          <div class="test2">
            <li
              (mouseenter)="onMenuSectionType(section)"
              (mouseleave)="leaveMenuSectionType(section)"
              class="container-item-navbar"
              [ngClass]="{
                removeOverflow: section.isActive
              }"
            >
              <!-- Utilisation de la directive ngClass pour injecter la classe removeOverflow si la section est active -->
              <div class="item-navbar">
                <a class="blockA">{{ section.name }}</a>
              </div>
            </li>
            <div class="test">
              <div
                [@fadeIn]="section.isActive ? 'hovered' : 'initial'"
                class="menu-after"
              ></div>
              <ul
                [@openClose]="section.isActive ? 'active' : 'in-active'"
                class="menu-hamburger-navbar blockB"
              >
                <li
                  *ngFor="let service of section.serviceTypes"
                  class="container-item-service-type"
                >
                  <a
                    class="item-service-type"
                    routerLink="service/{{ service?.id }}"
                    (click)="leaveMenuSectionType(section)"
                    >{{ service.name }}</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </ng-container>

        <div class="test2">
          <li class="container-item-navbar">
            <div class="item-navbar">
              <a class="" routerLink="/">contact</a>
            </div>
          </li>
        </div>

        <!--ADMINISTRATION-->

        <li class="container-item-navbar" *ngIf="isAdmin && isLogin">
          <div
            (mouseenter)="onAccount($event)"
            (mouseleave)="leaveAccount()"
            class="item-navbar administration"
            [ngClass]="{
              removeOverflow: isToggleAccountAdmin
            }"
          >
            <a> Administration </a>

            <ul
              [ngClass]="{
                'in-active': !isToggleAccountAdmin,
                'active-account': isToggleAccountAdmin
              }"
              class="menu-hamburger-navbar"
            >
              <li class="container-item-service-type">
                <a class="" routerLink="/register">Ajouter Employée</a>
              </li>
              <li class="container-item-service-type">
                <a routerLink="/assign">Affectation</a>
              </li>
              <li class="container-item-service-type">
                <a routerLink="/crud-admin">CRUD</a>
              </li>
              <li class="container-item-service-type">
                <a routerLink="/article">Article</a>
              </li>
              <li class="container-item-service-type">
                <a routerLink="/service">Service</a>
              </li>
              <li class="container-item-service-type">
                <a routerLink="/category">Catégorie</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <div *ngIf="!isLogin" class="btns">
        <button routerLink="/login" class="btn-primary-active" id="">
          CONNEXION
        </button>
        <p><a class="register" routerLink="/register">S'inscrire</a></p>
      </div>

      <div
        (mouseenter)="onAccount($event)"
        (mouseleave)="leaveAccount()"
        *ngIf="isLogin"
        class="account item-navbar"
        [ngClass]="{
          removeOverflow: isToggleMenuAccount
        }"
      >
        <a class=""> Mon compte </a>
        <ul
          class="menu-compte menu-hamburger-navbar"
          [ngClass]="{
            'in-active': !isToggleMenuAccount,
            'active-account': isToggleMenuAccount
          }"
        >
          <li class="container-item-service-type">
            <a (click)="openBasket()">Mon panier</a>
          </li>
          <li class="container-item-service-type">
            <a routerLink="account">modifier mon compte</a>
          </li>
          <li class="container-item-service-type">mes commandes</li>
          <li class="container-item-service-type">
            <button
              (click)="logout()"
              class="text-btn-default btn-primary"
              id=""
            >
              DECONNEXION
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
