<nav class="nav-bar">
  <div class="container-nav-bar">
    <div class="logo">
      <a routerLink="/">Clean&Chic</a>
    </div>

    <div class="container-menu-nav-bar">
      <ul class="menu-nav-bar">
        <!-- Ajout du ng-container pour l'évenement du hover -->
        <ng-container *ngFor="let section of sections">
          <!-- Ici j'utilise des évenements du DOM -->
          <li
            (mouseenter)="onMenuSectionType(section)"
            (mouseleave)="leaveMenuSectionType(section)"
            class="container-item-navbar"
          >
            <!-- Utilisation de la directive ngClass pour injecter la classe removeOverflow si la section est active -->
            <div class="item-navbar">
              <a class="blockA">{{ section.name }}</a>
              <div
                [@fadeIn]="section.isActive ? 'hovered' : 'initial'"
                class="menu-after"
              ></div>
              <ul
                [@openClose]="section.isActive ? 'active' : 'in-active'"
                class="menu-hamburger-navbar"
              >
                <li
                  *ngFor="let service of section.serviceTypes"
                  class="container-item-service-type"
                >
                  <a
                    class="item-service-type"
                    routerLink="service/{{ service?.id }}"
                    (click)="leaveMenuSectionType(section)"
                    >{{ service.name }}</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ng-container>

        <li
          class="container-item-navbar"
          (mouseenter)="onMouseEnter()"
          (mouseleave)="onMouseLeave()"
        >
          <div class="item-navbar">
            <a class="blockA">contact</a>
            <div [@fadeIn]="state" class="menu-after"></div>
          </div>
        </li>

        <!--ADMINISTRATION-->

        <li class="container-item-navbar" *ngIf="isAdmin && isLogin">
          <div
            (mouseenter)="onAccount($event)"
            (mouseleave)="leaveAccount()"
            class="item-navbar administration"
          >
            <a class="blockA"> Administration </a>
            <div
              [@fadeIn]="isToggleAccountAdmin ? 'hovered' : 'initial'"
              class="menu-after"
            ></div>
            <ul
              [@openClose]="isToggleAccountAdmin ? 'active' : 'in-active'"
              class="menu-hamburger-navbar"
            >
              <li (click)="leaveAccount()" class="container-item-service-type">
                <a class="item-service-type" routerLink="/crud-admin"
                  >Gestion des services</a
                >
              </li>
              <li (click)="leaveAccount()" class="container-item-service-type">
                <a class="item-service-type" routerLink="/management_employee"
                  >Gestion des employées</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <div *ngIf="!isLogin" class="btns">
        <button routerLink="/login" class="btn-primary-active" id="">
          CONNEXION
        </button>
        <p><a class="register" routerLink="/register">S'inscrire</a></p>
      </div>
      <div
        (mouseenter)="onAccount($event)"
        (mouseleave)="leaveAccount()"
        *ngIf="isLogin"
        class="account item-navbar"
      >
        <a class="blockA"> Mon compte </a>
        <div
          [@fadeIn]="isToggleMenuAccount ? 'hovered' : 'initial'"
          class="menu-after"
        ></div>
        <ul
          [@openClose]="isToggleMenuAccount ? 'active' : 'in-active'"
          class="menu-compte menu-hamburger-navbar"
        >
          <p class="" (click)="showDialog()">Mon panier</p>

          <!-- <li class="container-item-service-type">
              <a class="item-service-type" pButton >Mon panier</a>
            </li> -->
          <li class="container-item-service-type">
            <a class="item-service-type" routerLink="account"
              >Modifier mon compte</a
            >
          </li>
          <li class="container-item-service-type">
            <a class="item-service-type" href="">Mes commandes</a>
          </li>
          <li class="container-item-service-type">
            <button
              (click)="logout()"
              class="text-btn-default btn-primary"
              id=""
            >
              DECONNEXION
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="test">
  <p-dialog [style]="{ width: '22%', height: '99vh' }" [position]="'right'">
    <app-basket-dialogue
      (closeModaleEvent)="closeDialogu()"
    ></app-basket-dialogue>
  </p-dialog>
</div>
