.container-register {
  max-width: 878px;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
}
h3 {
  padding: 10px;
  width: 100%;
  text-align: center;
}
.form-register {
  width: 100%;
}

form div {
  position: relative;
}
.form-label {
  position: absolute;
  padding-bottom: 0;
  bottom: 0;
}
h5 {
  margin-bottom: 38px;
  padding-bottom: 10px;
}
.alert{
  background: red;
}
.success{
  background: green;
}

#password{
  position: relative;
}
.eye-outline{
  position: absolute;
  top: 0;
  right: 10px;
}