<div class="bc-container container-register">
  <h3 class="title-h3">inscription</h3>
  <div class="form-register">
    <h5 class="title-h5-secondary onglet-default">Coordonnée</h5>
    <div *ngIf="messageError">{{ messageError }}</div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3 col-12 email">
        <input
          [placeholder]="placeholder['email']"
          type="email"
          class="input-form form-control"
          id="email"
          formControlName="email"
          aria-describedby="emailHelp"
        />
        <div id="email-alert" class="form-text"></div>
        <!-- <div
          id="email-alert"
          class="form-text bc-alert-danger"
        >
        </div> -->
      </div>

      <div class="d-flex justify-content-between align-items-center gap-2">
        <div class="mb-3 col-md-6 col-sm-12 lastname">
          <input
            [placeholder]="placeholder['lastname']"
            type="text"
            class="input-form form-control"
            id="lastname"
            formControlName="lastname"
            aria-describedby="lastname"
          />
          <div
            id="lastname-alert"
            class="form-text"
            *ngIf="
              form?.get('lastname')?.invalid && form?.get('lastname')?.touched
            "
          >
            <!-- Veuillez entrer votre nom. -->
            {{ messageError }}
          </div>
        </div>

        <div class="mb-3 col-md-6 col-sm-12 firstname">
          <input
            [placeholder]="placeholder['firstname']"
            type="text"
            class="input-form form-control"
            id="firstname"
            formControlName="firstname"
            aria-describedby="firstname"
          />
          <div
            id="firstname-alert"
            class="form-text"
            *ngIf="
              form?.get('firstname')?.invalid && form?.get('firstname')?.touched
            "
          >
            <!-- Veuillez entrez votre Prénom. -->
            {{ messageError }}
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between align-items-center gap-2">
        <div class="mb-3 birthdate w-100">
          <label for="birthdate">{{ placeholder["birthdate"] }}</label>
          <input
            type="date"
            class="form-control"
            id="birinput-form thdate"
            formControlName="birthdate"
            aria-describedby="birthdate"
          />
          <div
            id="birthdate-alert"
            class="form-text"
            *ngIf="
              form?.get('birthdate')?.invalid && form?.get('birthdate')?.touched
            "
          >
            Votre d'anniverssaire.
          </div>
        </div>

        <div class="gender w-100">
          <select class="w-100 p-1" formControlName="gender" id="">
            <option value="">-- {{ placeholder["gender"] }} --</option>
            <option value="mr">Mr</option>
            <option value="mlle">Mlle</option>
            <option value="ng">Non genré</option>
          </select>
        </div>
      </div>

      <div class="mb-3 street">
        <input
          [placeholder]="placeholder['street']"
          type="text"
          class="input-form form-control"
          id="street"
          formControlName="street"
          aria-describedby="street"
        />
        <div
          id="street-alert"
          class="form-text"
          *ngIf="form?.get('street')?.invalid && form?.get('street')?.touched"
        >
          Veuillez entrez un nom de rue.
        </div>
      </div>

      <div class="d-flex justify-content-between gap-2">
        <div class="mb-3 w-100 zipcode">
          <input
            [placeholder]="placeholder['zipcode']"
            type="text"
            class="input-form form-control"
            id="zipcode"
            formControlName="zipcode"
            aria-describedby="zipcode"
          />
          <div
            id="street-alert"
            class="form-text"
            *ngIf="
              form?.get('zipcode')?.invalid && form?.get('zipcode')?.touched
            "
          >
            Veuillez entrez un code postal.
          </div>
        </div>

        <div class="mb-3 w-100 city">
          <input
            [placeholder]="placeholder['city']"
            type="text"
            class="input-form form-control"
            id="city"
            formControlName="city"
            aria-describedby="city"
          />
          <div
            id="city-alert"
            class="form-text"
            *ngIf="form?.get('city')?.invalid && form?.get('city')?.touched"
          >
            Veuillez entrez une ville.
          </div>
        </div>
      </div>

      <div class="mb-3 password">
        <input
          [placeholder]="placeholder['password']"
          [type]="passwordView ? 'text' : 'password'"
          class="input-form form-control"
          id="password"
          formControlName="plainPassword"
        />
        <span (click)="toggleViewPassword()">
          <svg
            class="eye-outline"
            *ngIf="!passwordView"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="30"
          >
            <title>eye-outline</title>
            <path
              d="M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M12,4.5C17,4.5 21.27,7.61 23,12C21.27,16.39 17,19.5 12,19.5C7,19.5 2.73,16.39 1,12C2.73,7.61 7,4.5 12,4.5M3.18,12C4.83,15.36 8.24,17.5 12,17.5C15.76,17.5 19.17,15.36 20.82,12C19.17,8.64 15.76,6.5 12,6.5C8.24,6.5 4.83,8.64 3.18,12Z"
            />
          </svg>
          <svg
            *ngIf="passwordView"
            width="30"
            class="eye-outline"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <title>eye-off-outline</title>
            <path
              d="M2,5.27L3.28,4L20,20.72L18.73,22L15.65,18.92C14.5,19.3 13.28,19.5 12,19.5C7,19.5 2.73,16.39 1,12C1.69,10.24 2.79,8.69 4.19,7.46L2,5.27M12,9A3,3 0 0,1 15,12C15,12.35 14.94,12.69 14.83,13L11,9.17C11.31,9.06 11.65,9 12,9M12,4.5C17,4.5 21.27,7.61 23,12C22.18,14.08 20.79,15.88 19,17.19L17.58,15.76C18.94,14.82 20.06,13.54 20.82,12C19.17,8.64 15.76,6.5 12,6.5C10.91,6.5 9.84,6.68 8.84,7L7.3,5.47C8.74,4.85 10.33,4.5 12,4.5M3.18,12C4.83,15.36 8.24,17.5 12,17.5C12.69,17.5 13.37,17.43 14,17.29L11.72,15C10.29,14.85 9.15,13.71 9,12.28L5.6,8.87C4.61,9.72 3.78,10.78 3.18,12Z"
            />
          </svg>
        </span>
        <div>
          <ul
            class="alert"
            [ngClass]="form.get('plainPassword')?.errors || form.get('plainPassword')?.errors?.['pattern'] ? 'alert' : 'success'"
          >
            <li>Votre mot de passe doit avoir au moins une majuscule.</li>
          </ul>
        </div>
      </div>

      <div *ngIf="isAdmin" class="role">
        <select formControlName="roles" id="role">
          <option [ngValue]="['ROLE_EMPLOYEE']">Employée</option>
          <option [ngValue]="['ROLE_ADMIN']">Admin</option>
        </select>
      </div>
      <button class="text-btn-default btn-primary-active">Inscription</button>

      <div class="mb-3 form-check"></div>
    </form>
  </div>
</div>
