.container-register {
  max-width: 878px;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
}
h3 {
  padding: 10px;
  width: 100%;
  text-align: center;
}
.form-register {
  width: 100%;
  padding-top: 30px;
}

form div {
  position: relative;
}
.form-label {
  position: absolute;
  padding-bottom: 0;
  bottom: 0;
}
