<div class="container-header">
  <div class="header">
    <div class="header-title">
      <h1 class="title-h1">clean & chic</h1>
    <h2 class="title-h2">pressing</h2>
    </div>
    <p class="paragraph-primary">
      Découvrez notre pressing emblématique, transmis de génération en
      génération depuis plus d'un siècle. Alliant savoir-faire d'antan, chic
      intemporel et modernité, nous préservons l'authenticité de vos vêtements
      avec passion et expertise. Confiez-nous vos tenues précieuses et plongez
      dans notre univers où l'élégance perdure à travers les âges.
    </p>
    <button routerLink="/services" class="btn text-btn-default primary">
      nos services
    </button>
  </div>
  <div [ngClass]="{ addDisplayNone: isHandset || isTablet }" class="header-img">
    <img src="../../../assets/articles/header.jpg" alt="" />
  </div>
</div>
