.nextPage {
  position: absolute;
  right: 0;
  top: 50%;
  cursor: pointer;
}
.previousPage {
  position: absolute;
  left: 0;
  top: 50%;
  cursor: pointer;
}
.container-cpmment {
  position: relative;
  justify-content: space-around;
}
