.bc-card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.delete {
  cursor: pointer;
}
.bc-card-header{
  background: var(--backgroundTransparent)
}
h6{
  width: 100%;
  text-align: center;
  padding: 3px;
}
.item-comtainer{
border: 1px solid black;
display: flex;
align-items: center;

}
.link-up-date{
  cursor: pointer;
}
.link-up-date:hover{
  text-decoration: underline;
}
thead{
  border: 1px solid black;
}