<h2>{{ serviceName }}</h2>

<app-basket *ngIf="basket.length > 0" [basket]="basket"></app-basket>

<div class="d-flex flex-wrap">
  <div *ngIf="isLoading" class="loading">
    <p>Chargement en cours ...</p>
  </div>
  <div
    *ngFor="let article of prestationsArticles"
    class="card mb-3"
    style="max-width: 540px"
  >
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="../../assets/articles/{{ article.picture }}"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ article.name }}</h5>
          <div *ngFor="let b of basket">
            <div *ngIf="b.articleName === article.name">
              <p>{{ b.quantity }}</p>
              <p>{{ b.priceTotal }} €</p>
            </div>
          </div>
          <div class="btn-card">
            <button (click)="addPrestation(article)" class="btn btn-itm-card">
              +
            </button>
            <button class="btn btn-itm-card">-</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div></div>
