<h2 class="title-h3">{{ serviceName }}</h2>
<div *ngIf="isLoading" class="loading">
  <p>Chargement en cours ...</p>
</div>
<div class="d-flex flex-wrap container-prestation">
  <div
    *ngFor="let article of prestations.services"
    class="item-prestation"
    style="max-width: 540px"
  >
    <div class="d-flex justify-content-between w-100">
      <div class="item-prestation-header">
        <img
          src="../../assets/articles/{{ article.picture }}"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>

      <div class="card-body">
        <h5 class="title-h6">{{ article.name }}</h5>
        <div class="container-btn-card">
          <div class="item-btn-card">
            <div class="bc-btn">
              <button
                (click)="deletePrestation(article)"
                class="btn-card-prestation"
              >
                -
              </button>
            </div>
            <div class="d-flex justify-content-center container-quantity">
              <input
                type="text"
                (ngModelChange)="upDateQuantity($event, article)"
                [ngModel]="getQuantityForArticleService(article)"
              />
            </div>
            <div class="bc-btn">
              <button
                (click)="addPrestation(article)"
                class="btn-card-prestation"
              >
                +
              </button>
            </div>
          </div>
        </div>
        <p *ngIf="getPriceTotalForArticleService(article)" class="mb-0">
          {{ getPriceTotalForArticleService(article) }} €
        </p>
      </div>
    </div>
  </div>

  <div></div>
</div>
