.item-prestation {
  width: 475px;
}

.item-prestation-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background: red; */
}
.item-prestation-header img {
  z-index: 100;
}

h5 {
  position: absolute;
  z-index: 90000;
  background: rgba(0, 0, 0, 0.7);
}
.container-btn-card {
  display: flex;
  justify-content: center;
  width: 100%;
}
.item-btn-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: red; */
  width: 40%;
}

.bc-btn,
.container-quantity {
  flex: 1;
}
