.container-prestation {
  justify-content: center;
  gap: 40px;
  height: auto;
  margin: 20px 0;
}

.item-prestation {
  display: flex;
  width: 476px;
  height: 136px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--white);
  z-index: 0;
  box-shadow: -1px 1px 15px 0px rgba(0, 0, 0, 0.25);
}

.item-prestation-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* background: red; */
  flex: 1;
}
.item-prestation-header img {
  z-index: 100;
  object-fit: contain;
  width: 100%;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 132px;
  flex: 1;
  gap: 8px;
}

.container-btn-card {
  display: flex;
  justify-content: center;
  width: 100%;
}
.item-btn-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: red; */
  width: 50%;
}

.bc-btn,
.container-quantity {
  flex: 1;
  justify-content: center;
  display: flex;
}
