<nav class="nav-bar">
  <div class="container-nav-bar">
    <div class="logo">
      <a routerLink="/">Clean&Chic</a>
    </div>

    <!-- TODO BUTTON -->

    <div class="container-menu-nav-bar">
      <ul class="menu-nav-bar">
        <!-- Ajout du ng-container pour l'évenement du hover -->
        <ng-container *ngFor="let section of sections">
          <!-- Ici j'utilise des évenements du DOM -->
          <li
            (mouseenter)="onMouseEnter(section)"
            (mouseleave)="leaveMouse(section)"
            class="container-item-navbar"
          >
            <!-- Utilisation de la directive ngClass pour injecter la classe isOverflow si la section est active -->
            <div
              class="item-navbar"
              [ngClass]="{
                isOverflow: section.isActive
              }"
            >
              <a class="">{{ section.name }}</a>
              <ul
                [ngClass]="{
                  'in-active': !section.isActive,
                  active: section.isActive
                }"
                class="menu-hamburger-navbar active"
              >
                <li
                  *ngFor="let service of section.serviceTypes"
                  class="container-item-service-type"
                >
                  <a
                    class="item-service-type"
                    routerLink="service/{{ service?.id }}"
                    >{{ service.name }}</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ng-container>

        <li class="container-item-navbar">
          <div class="item-navbar">
            <a class="" routerLink="/">contact</a>
          </div>
        </li>

        <!--ADMINISTRATION-->

        <li class="container-item-navbar" *ngIf="isAdmin && isLogin">
          <div
            (mouseenter)="onMouseEnterCompte($event)"
            (mouseleave)="leaveMouseCompte()"
            class="item-navbar administration"
            [ngClass]="{
              isOverflow: isToggleMenuCompteAdmin
            }"
          >
            <a> Administration </a>

            <ul
              [ngClass]="{
                'in-active': !isToggleMenuCompteAdmin,
                active: isToggleMenuCompteAdmin
              }"
              class="menu-hamburger-navbar active"
            >
              <li>
                <a class="container-item-service-type" routerLink="/register"
                  >Ajouter Employée</a
                >
              </li>
              <li>
                <a class="container-item-service-type" routerLink="/assign"
                  >Affectation</a
                >
              </li>
              <li>
                <a class="container-item-service-type" routerLink="/crud-admin"
                  >CRUD</a
                >
              </li>
              <li>
                <a class="container-item-service-type" routerLink="/article"
                  >Article</a
                >
              </li>
              <li>
                <a class="container-item-service-type" routerLink="/service"
                  >Service</a
                >
              </li>
              <li>
                <a class="container-item-service-type" routerLink="/category"
                  >Catégorie</a
                >
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <div *ngIf="!isLogin" class="btns">
        <button
          routerLink="/login"
          class="btn btn-outline-success text-btn-default primary"
          id=""
        >
          CONNEXION
        </button>
        <p><a class="register" routerLink="/register">S'inscrire</a></p>
      </div>

      <div
        (mouseenter)="onMouseEnterCompte($event)"
        (mouseleave)="leaveMouseCompte()"
        *ngIf="isLogin"
        class="btns compte"
        [ngClass]="{
          isOverflow: isToggleMenuCompte
        }"
      >
        <a class="btn-compte"> Mon compte </a>
        <ul
          class="menu-compte in-active"
          [ngClass]="{
            'in-active': !isToggleMenuCompte,
            active: isToggleMenuCompte
          }"
        >
          <li class="">
            <button
              (click)="logout()"
              class="btn btn-outline-success text-btn-default secondary"
              id=""
            >
              DECONNEXION
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
