<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Clean&Chic</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 item-navbar">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>

        <!-- SERVICES -->

        <li *ngFor="let section of sections" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle item"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ section.name }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li *ngFor="let service of section.serviceTypes">
              <a class="dropdown-item" routerLink="service/{{ service?.id }}">{{
                service.name
              }}</a>
            </li>
          </ul>
        </li>

        <li>
          <a class="dropdown-item item" routerLink="/">contact</a>
        </li>

        <!--ADMINISTRATION-->

        <li class="nav-item dropdown" *ngIf="isAdmin && isLogin">
          <a
            class="nav-link dropdown-toggle item"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Administration
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" routerLink="/register"
                >Ajouter Employée</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/assign">Affectation</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/crud-admin">CRUD</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/article">Article</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/service">Service</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/category">Catégorie</a>
            </li>
          </ul>
        </li>
      </ul>
      <div *ngIf="!isLogin" class="btns">
        <button
          routerLink="/login"
          class="btn btn-outline-success btn-default primary"
          id=""
        >
          CONNEXION
        </button>
        <p><a class="register" routerLink="/register">S'inscrire</a></p>
      </div>
      <li class="nav-item dropdown" *ngIf="user && isLogin">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ user.firstname }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" routerLink="/account">Mon compte</a></li>

          <div *ngIf="isLogin" class="">
            <button
              (click)="logout()"
              class="btn btn-outline-success btn-default secondary"
              id=""
            >
              DECONNEXION
            </button>
          </div>
        </ul>
      </li>

      <button
        *ngIf="isLogin && !isAdmin"
        pButton
        type="button"
        (click)="openBasket(basket)"
      >
        Panier
      </button>
    </div>
  </div>
</nav>
