<div class="container-service">
  <div *ngIf="messageSuccess">
    {{ messageSuccess }}
  </div>
  <div *ngIf="!isEditor" class="d-flex container-btn">
    <button
      *ngIf="!displayAddService"
      (click)="toggleAddService()"
      type="button"
      class="btn-secondary-active"
    >
      Ajouter Service
    </button>
    <button
      *ngIf="displayAddService"
      (click)="toggleAddService()"
      type="button"
      class="btn-secondary-active"
    >
      Retour
    </button>
  </div>

  <!-- Affichage des services existants -->
  <div class="" *ngIf="!isEditor && !displayAddService">
    <!-- Ici je boucle sur mes types de services -->
    <div *ngFor="let service of servicesTypes" class="row g-0">
      <div class="item-card-service">
        <!-- En-tête de la carte -->
        <div class="bc-card-header">
          <h6>{{ service.name }}</h6>
          <!-- Bouton de suppression -->
          <span (click)="deleteService(service.id)" class="delete">
            <svg
              width="25px"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
            >
              <title>delete</title>
              <path
                d="M17 4V6H3V4H6.5L7.5 3H12.5L13.5 4H17M4 19V7H16V19C16 20.1 15.1 21 14 21H6C4.9 21 4 20.1 4 19M19 15H21V17H19V15M19 7H21V13H19V7Z"
              />
            </svg>
          </span>
        </div>
        <!-- Corps de la carte -->
        <div class="card-body">
          <p class="card-text">{{ service.description }}</p>
        </div>
        <!-- Bouton de mise à jour de service -->
        <div class="btn-update">
          <button class="btn-secondary-active" (click)="showUpDate(service.id)">
            Modifier service
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div *ngIf="isEditor" class="card-header">
      <svg
        (click)="closeUpDate()"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="20px"
      >
        <title>close</title>
        <path
          d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z"
        />
      </svg>
    </div>

    <!-- Formulaire d'édition ou d'ajout de service -->
    <form
      *ngIf="isEditor || displayAddService"
      [formGroup]="form"
      (ngSubmit)="!isEditor ? addService() : upDateService(form.value)"
    >
      <div class="mb-3 servive-type-name">
        <label for="name" class="form-label">Nom</label>
        <!-- Champ de saisie pour le nom -->
        <input
          type="text"
          class="form-control"
          id="name"
          aria-describedby="emailHelp"
          formControlName="name"
        />
        <!-- Message d'erreur si le champ n'est pas valide -->
        <div
          *ngIf="!form.get('name')?.valid && form.get('name')?.touched"
          id="article"
          class="form-text"
        >
          Un nom est obligatoire.
        </div>
      </div>

      <div class="mb-3 servive-type-description">
        <label for="description" class="form-label">description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          formControlName="description"
        />
        <div
          *ngIf="
            !form.get('description')?.valid && form.get('description')?.touched
          "
          id="article-description"
          class="form-text"
        >
          Une description est obligatoire.
        </div>
      </div>

      <!-- Liste déroulante pour la sélection de la section -->
      <div class="mb-3 service-types-section">
        <label for="section" class="form-label">section</label>
        <select name="section" id="" formControlName="section">
          <option value="" disabled>- Choisir categorie -</option>
          <option
            *ngFor="let section of categorySection"
            [ngValue]="section.id"
          >
            {{ section.name }}
          </option>
        </select>
        <!-- Message d'erreur si le champ n'est pas valide -->
        <div
          *ngIf="!form.get('section')?.valid && form.get('section')?.touched"
          id="service-types-section"
          class="form-text"
        >
          Une categorie est obligatoire.
        </div>
      </div>

      <!--
      <div class="mb-3 article-service">
        <div *ngFor="let article of articles" class="d-flex flex-column">
          <label [for]="'article_' + article.id" class="form-label">{{
            article.name
          }}</label>
          <input
            type="checkbox"
            [value]="article.id"
            [checked]="isSelectedService(article.id)"
            (change)="toggleServiceChecked(article.id)"
            [id]="'article_' + article.id"
          />
        </div>
        <div
        *ngIf="!form.get('article')?.valid && form.get('article')?.touched"
        id="article-article"
        class="form-text"
        >
        Une categorie est obligatoire.
      </div>
    </div>
  -->
      <!-- Champ de saisie pour le fichier image -->
      <div class="mb-3 service-types-picture">
        <label for="picture" class="form-label">picture</label>
        <input
          type="file"
          class="form-control"
          id="service-types-picture"
          accept="image/png, image/jpeg, image/svg"
          formControlName="picture"
          (change)="onFileSelected($event)"
        />
        <div
          *ngIf="!form.get('picture')?.valid && form.get('picture')?.touched"
          id="services-types-picture"
          class="form-text"
        >
          Une image est obligatoire.
        </div>
      </div>

      <div class="mb-3 service-types-icon">
        <label for="icon" class="form-label">Icon mobile</label>
        <input
          type="file"
          class="form-control"
          id="service-types-icon"
          accept="image/png, image/jpeg, image/svg"
          formControlName="icon"
          (change)="onFileSelected($event)"
        />
        <div
          *ngIf="!form.get('icon')?.valid && form.get('icon')?.touched"
          id="services-types-icon"
          class="form-text"
        >
          Une icon mobile est obligatoire.
        </div>
      </div>
      <!-- Le bouton de soumission -->
      <button class="btn btn-primary">confirmer</button>
    </form>
  </div>
</div>
