/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #377d75;
  --secondary: #253f3c;
  --thirdly: #3e3e3e;
  --white: #fff;
  --black: #0000;
  --border-btn-default: 1px solid var(--primary);
  --border-title: 1px solid var(--secondary);
  --gradient-primary: linear-gradient(
    179deg,
    rgba(0, 0, 0, 0.7) 0.77%,
    rgba(0, 0, 0, 0.47) 100.99%,
    rgba(255, 255, 255, 0) 101.2%
  );

  box-sizing: border-box;
}

.body {
  font-family: "Montserrat";
  margin: 50px 200px;
}

a {
  list-style-type: none;
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit !important;
}

.title-h1 {
  font-size: 4em;
  font-weight: 500;
  letter-spacing: 1;
  text-transform: uppercase;
  color: var(--secondary);
}
.title-h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 1;
  font-weight: 300;
  color: var(--secondary);
}
.title-h3 {
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 1;
  font-weight: 500;
  color: var(--secondary);
}
.title-h4 {
  text-transform: uppercase;
  font-size: 21px;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--secondary);
}
.title-h5 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--secondary);
}
.item-navbar {
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 5px;
  transform: scaleY(1.05);
  -webkit-transform: scaleY(1.05);
  -moz-transform: scaleY(1.5);
  -o-transform: scaleY(1.5);
  font-weight: 300;
  color: var(--secondary);
}
.paragraph-primary {
  font-size: 1rem;
  font-weight: 300;
  color: var(--secondary);
}
.paragraph-card {
  font-size: 0.95rem;
  letter-spacing: 1.4px;
  font-weight: 300;
  color: var(--white);
}
.title-footer {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1.15rem;
  letter-spacing: 1.4px;
  font-weight: 500;
  color: var(--white);
}
.footer-nav {
  text-transform: uppercase;
  font-size: 0.95rem;
  letter-spacing: 1.05px;
  line-height: 44px;
  font-weight: 300;
  color: var(--white);
}

.btn-default {
  letter-spacing: 10;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  max-width: 220px;
  /* height: 55px; */
  padding: 8px 24px;
}

.primary,
.secondary:hover {
  background-color: var(--primary);
  color: var(--white);
}

.secondary,
.primary:hover {
  background-color: var(--white);
  color: var(--primary);
  border: var(--border-btn-default);
}

/* Media Querries */

@media screen and (max-width: 900px) {
  body {
    padding: 0;
    margin: 0;
  }
}
