/* You can add global styles to this file, and also import other style files */
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --font-family: "Montserrat";
  --primary: #377d75;
  --secondary: #253f3c;
  --thirdly: #3e3e3e;
  --white: #fff;
  --black: #0000;
  --backgroundTransparent: rgba(55, 125, 117, 0.2);
  --border-text-btn-default: 1px solid var(--primary);
  --border-title: 1px solid var(--secondary);
  --border-input: 1px solid var(--thirdly);
  --border-onglet: 1px solid var(--thirdly);
  --border-card-mobile : 1px solid var(var(--secondary))
  --border-btn-card-prestation: 0.5px solid var(--secondary);
  --gradient-primary: linear-gradient(
    179deg,
    rgba(0, 0, 0, 0.7) 0.77%,
    rgba(0, 0, 0, 0.47) 100.99%,
    rgba(255, 255, 255, 0) 101.2%
  );
  --background-nav-hover: rgba(55, 125, 117, 0.2);
  --border-box-shadow-menu-nav: inset 3px 4px 6px 0px rgba(55, 125, 117, 0.5);
  --border-box-shadow-item: 1px -1px 6px 0px rgba(55, 125, 117, 0.2);

  --border-color: purple;
  --border-width: 5px;
  --bottom-distance: 0px; /* you can increase this */
}
*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
}

.bc-main-container {
  /* overflow: hidden; */
  padding-top: 20px;
  min-height: 65vh;
 
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.bc-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
}

a,
li {
  list-style-type: none;
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit !important;
}

/* Classe responsive */
.mobile {
  width: 100%;
}
.tablet {
  width: 90%;
}

/* Typo */
.title-h1 {
  font-size: 4em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--secondary);
}
.title-h2 {
  text-transform: uppercase;
  font-size: 2.5em;
  letter-spacing: 1;
  font-weight: 300;
  color: var(--secondary);
}
.title-h3 {
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 1.6px;
  font-weight: 500;
  font-family: "Montserrat";
  color: var(--secondary);
  text-align: center;
  margin-bottom: 80px;
}
.title-h4 {
  text-transform: uppercase;
  font-size: 21px;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--secondary);
}
.title-h5 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--secondary);
}
.title-h5-secondary {
  font-size: 20px;
  letter-spacing: 1.2px;
  font-weight: 500;
  color: var(--thirdly);
}
.title-h6 {
  font-size: 1em;
  letter-spacing: 0.95px;
  font-weight: 400;
  color: var(--thirdly);
  text-transform: uppercase;
}

/* Title Mobile */
.title-mobile {
  font-family: var(--font-family);
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.95px;
  text-transform: uppercase;
}
.title-mobile-onglet{
  letter-spacing: 7px;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
  width: fit-content;
  margin: 0 auto;
  font-family: var(--font-family);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.95px;
  text-transform: uppercase;
}

.paragraph-card {
  font-size: 0.95em;
  letter-spacing: 1.4px;
  font-weight: 300;
  color: var(--white);
}
.item-navbar{
  font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 44px; /* 220% */
letter-spacing: 1.4px;
text-transform: uppercase;
}

.paragraph-primary {
  font-size: 1em;
  font-weight: 300;
  color: var(--secondary);
}
.paragraph-secondary{
  color: var(--third, #3E3E3E);
/* FIGMA p présentation entrprise et employer */
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.content {
  position: relative;
  margin: 50px 0 50px 0;
}





/* Button */
.text-btn-default {
  letter-spacing: 10;
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}
.btn-primary-active,
.btn-primary:hover {
  color: var(--white);
  background: var(--primary);
  padding: 10px;
  width: 167px;
  display: flex;
  justify-content: center;
  border: 1px solid var(--primary);
      border-radius: 2px
}

.btn-primary,
.btn-primary-active:hover {
  color: var(--primary);
  background: var(--white);
  padding: 10px;
  width: 167px;
  display: flex;
  justify-content: center;
  border: 1px solid var(--primary);
      border-radius: 2px
}

.btn-secondary-active{
  color: var(--white);
  background: var(--thirdly);
  padding: 3px;
  width: 167px;
  display: flex;
  justify-content: center;
}
.btn-secondary-active:hover{
  color: var(--thirdly);
  background: var(--white);
  border: var(--border-text-btn-default);
}

.btn-card-prestation {
  border: var(--border-btn-card-prestation);
  display: inline-block;
  padding: 2px 12px;
  min-width: 25%;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  outline: none;
  background: var(--white);
}

/* Classe dynamique */

.bc-alert-danger {
  color: red;
}

/* Permet d'injecter du style à tout les composants appelé dynamiquement par router outlet */
router-outlet + * {
  width: 100%;
}

 
.primary,
.secondary:hover {
  background-color: var(--primary);
  color: var(--white);
}

.secondary,
.primary:hover {
  background-color: var(--white);
  color: var(--primary);
  border: var(--border-text-btn-default);
}

.onglet-default {
  border-bottom: var(--border-onglet);
  padding-bottom: 10px;
}
select {
  border: none;
  border-bottom: 1px solid var(--thirdly);
}

.input-form {
  border-style: none;
  border-bottom: var(--border-input);
  width: 100%;
  padding: 2px;
  margin-top: 10px;
}

.custom-dialog-header {
  justify-content: center !important;
}
.p-dialog-header {
  margin: auto !important;
  width: 100%;
}
.ng-trigger {
  overflow: hidden !important;
} 

.ng-tns-c647991600, .modal {
  z-index: 99999999999999999 !important;
}