.footer {
  background: var(--secondary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 25vh;
  color: var(--white);
}

.footer-nav {
  list-style-type: none;
}
.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  background: red;
}
.container-footer-img {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  min-width: 300px;
}
.container-contact {
  display: flex;
  flex-direction: column;
  width: 165px;
  gap: 15px;
}
.address {
  display: flex;
  flex-direction: column;
}
.active {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.12px !important;
}
.title-footer {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1.15em;
  letter-spacing: 1.4px;
  font-weight: 500;
  color: var(--white);
}
.footer-nav {
  text-transform: uppercase;
  font-size: 0.95em;
  letter-spacing: 1.05px;
  line-height: 44px;
  font-weight: 300;
  color: var(--white);
}
